.article-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  align-items: start;
  margin-bottom: 36px;
}

.catalog {
  display: none;
}

.main-content {
  width: 100%;
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.description {
  font-size: 14px;
  background-color: var(--divider-color);
  color: var(--primary-text-color);
  padding: 16px;
  line-height: 1.8;
}

.article-cover {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 4 / 3;
}

.date {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin: 8px 0 8px 0;
}

article {
  max-width: 700px;
}

.article-title {
  font-size: 28px;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: var(--typography-sans);
}

article h2 {
  font-size: 24px;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

article h3 {
  font-size: 20px;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 15px;
  line-height: 2;
  color: var(--primary-text-color);
}

.paragraph b {
  font-weight: bold;
}

.paragraph a {
  color: #0B83F2;
}

article ol,
article ul {
  margin-top: -8px;
  color: var(--primary-text-color);
}

article li {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.5;
}

.divider {
  height: 1px;
  width: 75%;
  background-color: var(--divider-color);
}

figure {
  margin: 16px 0 16px 0;
  box-sizing: border-box;
}

figure blockquote {
  font-size: 20px;
  color: var(--primary-text-color);
  margin: 0;
  padding: 16px;
  border-left: 2px solid var(--border-color);
}

figure figcaption {
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: right;
}

.image-frame {
  width: 100%;
}

.image {
  width: 100%;
}

.image-caption {
  margin-bottom: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.raw-html {
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

th {
  color: var(--primary-text-color);
  font-weight: 500;
  background-color: var(--divider-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

td {
  border: 1px solid var(--border-color);
  padding: 8px;
  color: var(--secondary-text-color);
}

/* ----------作者信息卡片---------- */
.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: space-between;
}

.about-author-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.about-author-title {
  font-size: 13px;
  font-weight: bold;
  color: var(--secondary-text-color);
  font-style: normal;
  flex: 0 0 max-content;
  width: 100%;
  margin-right: 8px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
  align-content: stretch;
  flex: 1 1 1;
}

.info {
  display: flex;
  align-items: start;
}

.avatar {
  flex: 0 0 64px;
  margin-right: 16px;
}

.person {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.author-name {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.slogan {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

@media (min-width: 500px) {
  .article-container {
    max-width: 500px;
    gap: 36px;
  }
}

@media (min-width: 768px) {
  
  .article-container {
    grid-template-columns: 160px auto 256px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1440px;
  }
  
  .about {
    position:sticky;
    top: 151px;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    position:sticky;
    top: 151px;
  }
  
  .catalog header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .catalog a {
    color: var(--primary-text-color);
    margin: 4px 0;
  }

  article h1 {
    font-size: 32px;
  }

  article h2 {
    font-size: 28px;
  }

  article h3 {
    font-size: 24px;
  }

  article h4 {
    font-size: 20px;
  }

  article h5 {
    font-size: 18px;
  }

  article h6 {
    font-size: 16px;
  }

  article p {
    font-size: 16px;
  }

  figure blockquote {
    font-size: 22px;
  }
}