.video-container {
    max-width: 840px;
    margin: 32px auto 32px auto;
    width: 100%;
}

.video-frame {
    width: 100%;
}

.video-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;
}

.video-date {
    font-size: 14px;
    margin-bottom: 12px;
}

.video-description {
    font-size: 16px;
}