.cover-container {
  display: flex;
  flex-direction: column;
}

.cover-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: var(--typography-mono);
}

.cover-text h2 {
  font-size: 36px;
  color: var(--primary-text-color);
  line-height: 1.4;
}

.who-i-am {
  font-size: 16px;
  font-weight: var(--font-medium);
  color: var(--secondary-text-color);
  display: flex;
}

.cover-text ul {
  padding-inline-start: 4px;
  list-style-type: none;
  line-height: 1.5;
}

.cover-text li::before {
  display: inline-block;
  width: 1em;
  margin-inline-end: 12px;
}

.cover-text li:nth-of-type(1)::before {
  content: "💻";
}
.cover-text li:nth-of-type(2)::before {
  content: "🖌";
}
.cover-text li:nth-of-type(3)::before {
  content: "📷";
}
.cover-text li:nth-of-type(4)::before {
  content: "🏍";
}

.show-box {
  display: grid;
  grid-template-rows: 60% 40%;
  width: 100%;
  background-color: bisque;
  height: 700px;
  overflow: hidden;
  flex: 1 1 auto;
}

.code-part {
  background-color: #233052;
  color: #747474;
  font-size: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-title {
  font-family: var(--typography-mono);
  font-size: 24px;
  color: #ffffff;
  font-weight: var(--font-normal);
  margin-right: 4px;
  margin-top: 0;
}

.editor {
  background-color: #111B3C;
  border-radius: 8px;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    padding-bottom: 12px;
    padding-top: 12px;
}

.code-line {
  font-size: 12px;
  display: flex;
  font-family: var(--typography-mono);
  margin-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.code-line1 {
  margin-left: 12px;
}

.code-line2 {
  margin-left: 30px;
}

.code-line3 {
  margin-left: 48px;
}

span {
  display: inline-block;
}

.mtk15 {
  color: #747474;
}

.mtk27 {
  color: #5C8ECB;
}

.mtk1 {
  color: #f8fafc;
}

.mtk6 {
  color: #A1D4FA;
}

.mtk5 {
  color: #BD8A70;
}

/* ********打字特效********* */
.typing {
  position: relative;
}

.typing::after {
  content: "_";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #111B3C;
  animation: typing 2s steps(6) forwards, caret 1s infinite;
}

@keyframes typing {
  to {
    width: 0;
  }
}

@keyframes caret {
  50% {
    color: transparent;
  }
}
/* ********打字特效********* */

.card-part {
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-frame {
  background-color: transparent;
  border-width: 5px;
  border-style: solid;
  border-image: url(../../images/frame-dot.svg);
  border-image-slice: 5;
  margin-top: 16px;
  box-shadow:
  4.5px 4.5px 3.6px -63px rgba(0, 0, 0, 0.024),
  12.5px 12.5px 10px -63px rgba(0, 0, 0, 0.035),
  30.1px 30.1px 24.1px -63px rgba(0, 0, 0, 0.046),
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
  animation: scale 1.8s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite;
}

.name {
  font-size: 24px;
  margin: 0;
}

.info {
  margin-right: 8px;
}

@keyframes scale {
  50% {
    padding-right: 36px;
  }
}

.cities {
  font-size: 13px;
  font-family: var(--typography-sans);
}

.slogan {
  font-size: 18px;
  margin-bottom: 0;
  font-family: var(--typography-sans);
}


.personal {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EDEDED;
}

@media (min-width: 768px) {
  .cover-container {
    flex-direction: row;
  }

  .cover-text-container {
    flex: 1 1 50%;
  }

  .cover-text {
    width: 80%;
  }

  .cover-text h2 {
    font-size: 40px;
  }

  .show-box {
    flex: 1 1 50%;
    grid-template-rows: 50% 50%;
    /* grid-template-columns: 50% 50%; */
  }

  .card {
    padding: 24px;
  }
}