.album-container {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
  flex: 1 0 auto;
  padding: 16px;
}

.gallery {
  display: grid;
  grid-template-rows: 1fr 120px;
  grid-template-columns: 1fr;
  width: 100%;
  overflow: hidden;
}

.active-photo-frame {
  width: 100%;
  display: block;
  object-fit: contain;
  height: 600px;
}

.active-photo {
  height: 100%;
  object-fit: contain;
}

.album-frame {
  width: 960px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.album-list {
  width: fit-content;
  height: 120px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.album-photo-frame {
  width: 180px;
  height: 100%;
  margin: 8px 4px 8px 0;
  object-fit: contain;
}

.album-information {
  display: none;
}

/* 
.album-information {
  box-sizing: border-box;
  padding: 16px;
}

.album-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
  margin: 16px 0;
}

.album-description {
  font-size: 14px;
  color: var(--primary-text-color);
}

.album-relative {
  display: flex;
  align-items: center;
}

.album-category {
  background-color: var(--divider-color);
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.album-date {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.album-location {
  color: var(--primary-text-color);
}

@media(min-width: 600px) {
  .album-container {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 1440px;
    padding: 0 36px 0 36px;
  }

  .album-title {
    font-size: 24px;
  }

  .album-description {
    font-size: 16px;
  }
} */