.album-container {
  display: grid;
  grid-template-columns: 1fr;
}

.album-list {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 110px;
}

.album-photo {
  position: relative;
  height: 100%;
  width: fit-content;
}

.album-information {
  box-sizing: border-box;
  padding: 16px;
}

.album-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.album-description {
  font-size: 14px;
  color: var(--secondary-text-color);
}

@media(min-width: 768px) {
  .album-container {
    grid-template-columns: 2fr 1fr;
  }

  .album-title {
    font-size: 24px;
  }

  .album-description {
    font-size: 16px;
  }
}