.header-2 {
  font-size: 24px;
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}

.header-3 {
  font-size: 20px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 24px;
  margin-bottom: 8px;
}

.header-4 {
  font-size: 18px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 22px;
  margin-bottom: 8px;
}

.header-5 {
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 20px;
  margin-bottom: 8px;
}

.header-6 {
  font-size: 15px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 18px;
  margin-bottom: 8px;
}

.paragraph {
  font-size: 15px;
  line-height: 2;
  color: var(--primary-text-color);
}

.paragraph b {
  font-weight: var(--font-bold);
}

.paragraph mark {
  background-color: #FFE178;
}

.paragraph a {
  color: var(--link-text-color);
}

.content-list {
  margin-top: 8px;
  color: var(--primary-text-color);
}

.list-item {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.8;
}

.divider {
  height: 1px;
  width: 75%;
  background-color: var(--divider-color);
}

.quote {
  margin: 16px 0 16px 0;
  box-sizing: border-box;
}

.quote-text {
  font-size: 20px;
  color: var(--primary-text-color);
  margin: 0;
  padding: 16px;
  border-left: 2px solid var(--border-color);
}

.quote-person {
  font-size: 16px;
  color: var(--secondary-text-color);
  text-align: right;
}

.image-frame {
  width: 100%;
}

.image {
  width: 100%;
}

.image-caption {
  margin-bottom: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.raw-html {
  width: 100%;
}

.table-block {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
}

.table-header {
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  background-color: var(--divider-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

.table-cell {
  border: 1px solid var(--border-color);
  padding: 8px;
  color: var(--secondary-text-color);
}

@media (min-width: 768px) {
  .header-2 {
    font-size: 28px;
  }

  .header-3 {
    font-size: 24px;
  }

  .header-4 {
    font-size: 20px;
  }

  .header-5 {
    font-size: 18px;
  }

  .header-6 {
    font-size: 16px;
  }

  .paragraph {
    font-size: 16px;
  }

  .quote-text {
    font-size: 22px;
  }
}