.main-container {
  max-width: 800px;
  padding: 16px;
  width: 100%;
}

.page-title {
  font-size: 28px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: var(--typography-serif);
}