@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Serif SC', serif;
    }
}

@layer components {
    .link {
        @apply transition ease-in delay-100 hover:text-theme focus:underline;
    }
}

iframe {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}