:root {
  --theme-color: #B23D2B;
  --background-color: #F6F6F6;
  --navbar-color: #ffffff;
  --card-color: #ffffff;
  --primary-text-color: rgba(0, 0, 0, 0.85);
  --secondary-text-color: rgba(0, 0, 0, 0.7);
  --border-color: #d2d2d2;
  --divider-color: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #983323;
    --background-color: #171717;
    --navbar-color: #1f1f1f;
    --card-color: #1f1f1f;
    --primary-text-color: rgba(255, 255, 255, 0.9);
    --secondary-text-color: rgba(255, 255, 255, 0.7);
    --border-color: #2f2f2f;
    --divider-color: #323232;
  }
}

html {
  font-family: 'Noto Serif SC', serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}