/* 首页的CSS文件 */

.section-block {
  display: flex;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.content-block {
  width: 100%;
}

.cover-block {
  width: 100%;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 32px
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-des {
  font-size: 32px;
  color: var(--primary-text-color);
  margin-block: 16px;
}

.section-block:nth-of-type(2n) {
  background-color: var(--section-bg);
}

/* section:first-of-type {
  padding: 0;
  background-color: #fff;
} */

.section-title {
  font-size: 12px;
  font-weight: var(--font-medium);
  color: var(--secondary-text-color);
}

.article-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 100%;
}

.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* 在移动端隐藏后3个文章卡片 */
.article-card:nth-child(1n+4) {
  display: none;
}

.article-cover {
  aspect-ratio: 4 / 2;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--divider-color);
}

.article-cover img:hover, .photo-cover img:hover, .video-cover img:hover {
    transform: scale(1.08);
    overflow: hidden;
}

.article-info {
  margin-top: 12px;
}

.content-title {
  font-size: 18px;
  font-weight: var(--font-bold);
  color: var(--primary-text-color);
  margin: 0 0 8px 0;
}

.content-title:hover {
  color: var(--theme-color);
}

.article-description {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin: 8px 0 12px 0;
}

.article-category {
  background-color: var(--divider-color);
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.more {
  font-size: 14px;
  font-weight: var(--font-bold);
  display: inline-flex;
  justify-content: end;
  align-items: center;
  color: var(--theme-color);
  font-family: var(--typography-sans);
  text-transform: uppercase;
}

.more > a:after {
  border-bottom: 2px solid var(--theme-color);
  content: "";
  display: block;
  margin: 4px auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}
.more > a:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 100%;
}

.more > a:hover {
  color: var(--theme-color);
}

.article-date {
  font-size: 12px;
  color: var(--secondary-text-color);
}

.photo-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  justify-content: start;
}

.photo-cover {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  border-radius: 8px;
}

.photo-link:nth-child(1n+13) {
  display: none;
}

.video-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

.video-card {
  margin-bottom: 16px;
}

/* 隐藏移动端的后4个视频 */
.video-card:nth-child(1n+5) {
  display: none;
}

.video-cover {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 8px;
}

.video-date {
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

@media (min-width: 425px) {
  .article-grid {
    grid-template-columns: 1fr 1fr;
  }
  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (min-width: 768px) {
  .section-block {
    padding: 36px;
  }

  .content-header {
    flex-direction: row;
  }

  .content-header hgroup {
    width: 50%;
  }

  .section-title {
    font-size: 16px;
  }

  .article-grid {
    grid-template-columns: 1fr 1fr;
  }

  button {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
  }

  button>svg {
    margin-left: 4px;
  }

  .article-card {
    display: grid;
    grid-template-columns: 210px auto;
    gap: 16px;
  }

  .article-card:nth-child(1n+4) {
    display: grid;
  }

  .article-cover {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  .article-info {
    margin-top: 0;
  }

  .content-title {
    font-size: 20px;
  }

  .article-description {
    font-size: 16px;
  }

  .article-category {
    font-size: 14px;
  }

  .article-date {
    font-size: 14px;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photo-link:nth-child(1n+13) {
    display: block;
  }

  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }

  .video-card:nth-child(1n+5) {
    display: block;
  }

  .video-date {
    font-size: 14px;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .content-block {
    max-width: 1440px;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}