.article-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-content: center;
  flex: 1 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  align-items: start;
  margin-bottom: 36px;
}

.main-content {
  width: 100%;
  border-bottom: 1px solid var(--divider-color);
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.catalog {
  display: none;
}

.article-cover {
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 4 / 3;
}

.date {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin: 8px 0 8px 0;
}

.relatives {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 13px;
}

.article-category {
  background-color: var(--theme-color);
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-right: 16px;
  display: inline-block;
  margin: 8px 16px 8px 0;
}

.article-tag {
  margin: 8px 16px 8px 0;
}

article {
  max-width: 700px;
}

.description {
  font-size: 14px;
  background-color: var(--divider-color);
  color: var(--primary-text-color);
  padding: 16px;
  line-height: 1.8;
}

.article-title {
  font-size: 28px;
  color: var(--primary-text-color);
  font-weight: var(--font-bold);
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: var(--typography-sans);
}

/* ----------作者信息卡片---------- */
.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: space-between;
}

.about-author-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.about-author-title {
  font-size: 13px;
  font-weight: var(--font-bold);
  color: var(--secondary-text-color);
  font-style: normal;
  flex: 0 0 max-content;
  width: 100%;
  margin-right: 8px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
  align-content: stretch;
  flex: 1 1 1;
}

.info {
  display: flex;
  align-items: start;
}

.avatar {
  flex: 0 0 64px;
  margin-right: 16px;
}

.person {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.author-name {
  font-size: 20px;
  font-weight: var(--font-bold);
  font-style: normal;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.slogan {
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  color: var(--secondary-text-color);
}

.wechat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  border-top: 1px solid var(--divider-color);
  padding-top: 24px;
}

.wechat-text {
  font-size: 14px;
  font-style: normal;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 8px 0;
}

.wechat-img {
  width: 128px;
}

.rss {
  display: flex;
  align-items: center;
}

@media (min-width: 500px) {
  .article-container {
    max-width: 500px;
    gap: 36px;
  }
}

@media (min-width: 1024px) {
  .article-container {
    grid-template-columns: 160px auto 256px;
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1440px;
  }
  
  .about {
    position:sticky;
    top: 151px;
  }

  .catalog {
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    position:sticky;
    top: 151px;
  }
  
  .catalog header {
    font-size: 20px;
    font-weight: var(--font-bold);
    margin-bottom: 8px;
  }
  
  .catalog a {
    color: var(--primary-text-color);
    margin: 4px 0;
  }
}

@media print {
  .article-container {
    padding: 48px;
    max-width: 100%;
  }
  .about {
    display: none;
  }
  .catlog {
    display: none;
  }
  .main-content {
    border: none;
  }
  a:after {
    content: "("attr(href)")";
  }
  @page {
    size: A4;
    margin: 2cm;
  }
}
