.container {
  display: flex;
  flex-direction: column;
}

.sort {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  flex: 1 1 1;
}

.sort-item {
  margin: 24px 0;
}

.sort-title {
  font-size: 16px;
  font-weight: var(--font-normal);
  margin-top: 16px;
  margin-bottom: 8px;
  color: var(--primary-text-color);
}

.sort-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  color: var(--secondary-text-color);
}

.article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex: 1 1 1;
  box-sizing: border-box;
  padding: 16px;
}

.article-grid {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  margin: 16px auto 24px auto;
  gap: 8px;
}

.article-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: var(--card-color);
  width: 100%;
  margin-bottom: 16px;
}

.article-cover {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border: 1px solid var(--divider-color);
  border-radius: 4px;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article-title {
  font-size: 18px;
  font-weight: var(--font-bold);
  color: var(--primary-text-color);
  margin-top: 12px;
  margin-bottom: 4px;
}

.article-title:hover {
  color: var(--theme-color);
}

.article-description {
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-top: 4px;
  margin-bottom: 12px;
}

.article-category,
.article-date {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.article-category {
  background-color: var(--divider-color);
  box-sizing: border-box;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.article-relative {
  display: flex;
  height: min-content;
  margin-top: 0;
  margin-bottom: 0;
  align-items: baseline;
}

.about-author-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  gap: 16px;
}

.about-author-title {
  font-size: 13px;
  font-weight: var(--font-bold);
  color: var(--secondary-text-color);
  font-style: normal;
  flex: 0 0 max-content;
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
  align-content: stretch;
  flex: 1 1 auto;
}

.article-tag {
  margin: 8px 16px 8px 0;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: start;
    padding-top: 24px;
  }

  .sort {
    flex: 0 0 300px;
  }

  .article-container {
    flex: 1 1 auto;
    margin-right: 24px;
  }

  .article-card {
    display: grid;
    grid-template-columns: 210px, auto;
    justify-items: start;
    align-items: start;
    justify-content: start;
    gap: 16px;
    max-width: 840px;
    border-radius: 8px;
  }

  .article-cover {
    width: 210px;
    grid-column: 1/2;
  }

  .article-title {
    margin-top: 0;
    font-size: 20px;
  }

  .article-info {
    grid-column: 2/3;
  }
}